[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:silencial/hugo-PaperMod.git
[submodule "themes/hugo-admonitions"]
	path = themes/hugo-admonitions
	url = git@github.com:KKKZOZ/hugo-admonitions.git
